{namespace TodoForm}

/**
 * This renders the component's whole content.
 */
{template .render}
	<form class="todo-form">
		<label for="title">
			Todo <input name="title" />
		</label>
		<button type="submit">Add</button>
	</form>
{/template}
