{namespace TodoForm}

/**
 * This renders the component's whole content.
 */
{template .render}
	{@param? value: string}

	<form class="todo-form" data-onsubmit="handleSubmit">
		<label for="title">
			Todo <input data-onkeyup="handleChange" name="title" value="{$value}" />
		</label>
		<button type="submit">Add</button>
	</form>
{/template}
